@active-nav-element-color:#4aa850;
@font-face{
    font-family:Roboto;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
.h1-resp-style{
    text-align: center;
    @media (max-width: 575px ){font-size: 1rem;}
    @media (min-width: 576px ) and (max-width: 767px ){font-size: 1.5rem;}
    @media (min-width: 768px ) and (max-width: 991px ){font-size: 2rem;}
    @media (min-width: 992px ){font-size: 2.3rem;}
}
.h3-resp-style{
    text-align: center;
    @media (max-width: 575px ){font-size: 1rem;}
    @media (min-width: 576px ) and (max-width: 767px ){font-size: 1.4rem;}
    @media (min-width: 768px ){font-size: 1.70rem;}
}
.round{border-radius: 50%;}
.emphasized{
    color: #af787b;
}
html {
    overflow: hidden;
    height: 100%;
}
body{
    overflow: auto;
    height: 100%;
}
.cntr{
    text-align: center;
    &-md{
        @media (min-width: 768px ){
            text-align: center;
            &-none{text-align:inherit;}
        }
    }
}

form button{
    @button-color:#41ab4f;
    background-color:@button-color !important;
    border-color: @button-color !important;
    &:focus{box-shadow: 0 0 0 0.2rem  @button-color  !important;}
}
.textr{
    text-align: right;
    &-md{
        @media (min-width: @md ){
            text-align: right;
            &-none{text-align:inherit;}
        }
    }
}
@active-nav-dropdown-element-color:#5cbb69;
.hover-time(){
    background-color: @active-nav-dropdown-element-color;
    color: #fff;
}
body{
    font-family: Rogoto !important;
}
nav{
    background-color: #33313f;
    @media (min-width: 992px){
        height: 70px;
    }
    li{
            a.active{background-color: @active-nav-element-color;}
            .dropdown-menu{
                background-color: @active-nav-element-color;
                border-radius: 0;
                margin-top: -1px;
                border: 0px;
                a{
                    color: #fff;
                    padding-left: 8px;

                    &.active{background-color: @active-nav-dropdown-element-color;}
                }
                a:hover{
                    .hover-time();
                }
        }
    }
}

.about_us{
    &,.row { height: 100vh;}
    background-image: url(../imgs/screen1Back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 500px){background-position: 20% 0;}

    .container{
        height: 100%;
        padding-top: 5%;

        .text-container{
            background: rgba(0,0,0,0.4);
            color: #fff;
            position: relative;
            padding: 35px 20px 20px 20px;
            overflow: auto;
            max-height: 80vh;
        }
    }
}

.wishing{

    @media (min-width: 992px ){
        background-image: url("../imgs/secondScreen/Screen%20image.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-position: 103% center;
    }
    @media (min-width: 992px ) and (max-width: 1200px ){background-size: 440px;}

    .container{
        @media (min-width: 992px ){
            padding-top: 70px;
            padding-bottom: 80px;
        }
        padding-top: 57px;
        padding-bottom: 30px;

        &>div{

            ul{
                list-style: none;

                li {
                    font-size: 25px;

                    &:before{
                        content: '';
                        display: inline-block;
                        background-image: url(../imgs/secondScreen/oneCent.png);
                        @list-marker-side: 16px;
                        width: @list-marker-side;

                        height: @list-marker-side;
                        background-size: cover;
                        margin-right: 10px;
                    }
                }
            }
        }

    }
}

.level_of_training{
    background-color: #f6f6f6;
    padding-top: 35px;
    padding-bottom: 15px;

    .container{
        ul.nav-tabs{
            li.nav-item{
                text-align: center;

                a{
                    background-color: #e6e4ef;
                    color: #46454b;

                    &.active{
                        background-color: #5e606f;
                        color:#fff;
                    }
                    &:hover:not(.active){
                        background-color: #47a952;
                        color:#fff;
                    }
                }
            }
        }
        .tab-content{
            .tab-pane{
                .media{
                    .media-body{padding-top: 40px;}
                    div{
                        img{width: 100%;}
                    }
                }
            }
        }
    }
}

.prices{
    .container{
        padding-top: 10px;

        table{
            th,td{text-align: center;}
            th:first-child,td:first-child {text-align: left;}
            td:last-child{font-weight: 900;}
        }
    }
}

.discounts{
    background-color: #5c5e6b;
    padding: 20px 0;
    color: #fff;
    .container{
        ul{
            list-style: none;
//            li:before{
//                content: "●";
//                color: red;
//                font-size: 30px;
//                position: absolute;
//                left: 30px;
//                margin-top: -12px;
//            }
            li {
                position: relative;
                img{
                    height: 15px;
                    position: absolute;
                    top: 5px;
                    left: -30px;
                }
            }
        }
        form{
            label{
                font-size: 33px;
                @media (max-width: 992px ){font-size: 30px;}
            }

        }

    }
}

.individual_approach{
    padding: 20px 0;
    .container{
        div{
            text-align: center;
            h5{color: #af787b;}
            h1{font-weight: 900;}
        }
    }
}

.teaching_methods{
    background-color: #f6f6f6;
    padding: 30px 0px;
    .container{
        .row{
            margin-bottom: 30px;
        }
    }
}

.team{
    padding: 30px 0px;
}

.languages{
    padding: 30px 0px;
    background-color: #5c5e6b;
    color: #fff;

    .container{
        .row{
            div > div{
                background-color: #8c8992;
                border: 2px solid black;
                img{padding: 0px;}
            }
        }
    }
}

.feedback{
    padding: 30px 0px;
    .container{
        .row{
            position: relative; //Эта строка нужна, чтобы div в котором будет форма занимал 100% высоты
            div:first-child{
                ul{
                    list-style: none;
                    padding: 0;
                    text-align: center;

                    li{
                        display: inline-block;
                        padding: 0 5px;
                        &:hover{
                            .hover-time();
                            cursor: pointer;
                        }
                    }
                }
            }
            .social-net{
                @media (min-width: @md ){
                    height: 100%;//эти три строки и следующая нужны, чтобы блок принял крайнее правое положение
                    position: absolute;//в row и притом имел высоту 100% т.е. равную высоте родителя, если не
                    right: 0;//указать position absolute то height 100% не будет работать
                }
                @media (max-width: (@md - 1) ){text-align: center !important ;}

                form{
                    @media (min-width: @md ){
                        position: absolute;//Эта строка и последующая нужны чтобы форма была прижата
                        bottom: 0;//к дну блока .social-net
                    }
                    h3{font-weight: 900;}
                    div{padding-right: 0px;}
                    small{font-size: 15px;}
                }

                .social-net-icons{
                    height: 25px;
                    a{
                        height: 100%;
                        img{height: 100%;}
                    }
                }
            }
        }
    }
}
