@font-face {
  font-family: Roboto;
  src: url(../fonts/RobotoSlab-Regular.ttf);
}
body {
  font-family: Rogoto !important;
}
nav {
  background-color: #33313f;
}
@media (min-width: 992px) {
  nav {
    height: 70px;
  }
}
nav li.active {
  background-color: #4aa850;
}
nav li .dropdown-menu {
  background-color: #4aa850;
  border-radius: 0;
  margin-top: -1px;
  border: 0px;
}
nav li .dropdown-menu a {
  color: #fff;
  padding-left: 8px;
}
nav li .dropdown-menu a:hover {
  background-color: #5cbb69;
  color: #fff;
}
.screen1 {
  height: 100vh;
  background-image: url(../imgs/screen1Back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 500px) {
  .screen1 {
    background-position: 20% 0;
  }
}
.screen1 .container {
  height: 100%;
}
.screen1 .container .text-container {
  height: auto;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  position: relative;
  top: 25%;
  padding: 35px 20px 20px 20px;
}
.screen1 .container .text-container h1 {
  font-size: 33px;
}
@media (min-width: 992px) {
  .screen1 .container .text-container {
    width: 540px;
    left: 46%;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .screen1 .container .text-container {
    width: 300px;
    left: 30%;
    top: 20%;
  }
}
@media (max-width: 575px) {
  .screen1 .container .text-container {
    top: 15%;
  }
}
.screen2 ul {
  list-style-image: url(../imgs/secondScreen/oneCent.png);
}
