@font-face {
  font-family: Roboto;
  src: url(../fonts/RobotoSlab-Regular.ttf);
}
body {
  font-family: Rogoto !important;
}
nav {
  background-color: #33313f;
}
nav .dropdown-menu {
  background-color: #4aa850;
  border-radius: 0;
}
