@active-nav-element-color:#4aa850;
@font-face{
    font-family:Roboto;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}
body{
    font-family: Rogoto !important;
}
nav{
    background-color: #33313f;
    @media (min-width: 992px){
        height: 70px;
    }
    li{
            &.active{background-color: @active-nav-element-color;}
            .dropdown-menu{
                background-color: @active-nav-element-color;
                border-radius: 0;
                margin-top: -1px;
                border: 0px;
                a{
                    color: #fff;
                    padding-left: 8px;
                }
                a:hover{
                    background-color: #5cbb69;
                    color: #fff;
                }
        }
    }
}

.screen1{
    height: 100vh;
    background-image: url(../imgs/screen1Back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 500px){background-position: 20% 0;}

    .container{
        height: 100%;

        .text-container{
            height: auto;
            background: rgba(0,0,0,0.4);
            color: #fff;
            position: relative;
            top: 25%;
            padding: 35px 20px 20px 20px;

            h1{font-size: 33px;}

            @media (min-width: 992px){
                width: 540px;
                left: 46%;
            }
            @media (min-width: 576px) and (max-width: 991px){
                width: 300px;
                left: 30%;
                top: 20%;
            }
            @media (max-width: 575px){
                top: 15%;
            }
        }
    }
}

.screen2{
    .container{
        @media (min-width: 992px ){padding-top: 70px;}
        padding-top: 57px;

        div{
            ul{

            list-style: none;

            li {
                font-size: 25px;

                &:before{
                    content: '';
                    display: inline-block;
                    background-image: url(../imgs/secondScreen/oneCent.png);
                    @list-marker-side: 16px;
                    width: @list-marker-side;
                    height: @list-marker-side;
                    background-size: cover;
                    margin-right: 10px;
                }
            }
            }}

    }
}
