@active-nav-element-color:#4aa850;
@font-face{
    font-family:Roboto;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}
body{
    font-family: Rogoto !important;
}
nav{
    background-color: #33313f;
    @media (min-width: 992px){
        height: 70px;
    }
    li{
            &.active{background-color: @active-nav-element-color;}
            .dropdown-menu{
                background-color: @active-nav-element-color;
                border-radius: 0;
                margin-top: -1px;
                border: 0px;
                a{
                    color: #fff;
                    padding-left: 8px;
                }
                a:hover{
                    background-color: #5cbb69;
                    color: #fff;
                }
        }
    }
}

.screen1{
    &,.row { height: 100vh;}
    background-image: url(../imgs/screen1Back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 500px){background-position: 20% 0;}

    .container{
        height: 100%;
        padding-top: 5%;

        .text-container{
            background: rgba(0,0,0,0.4);
            color: #fff;
            position: relative;
            padding: 35px 20px 20px 20px;
            overflow: auto;
            max-height: 80vh;
            h1{font-size: 33px;}

//            @media (min-width: 992px){
//                width: 540px;
//                left: 46%;
//            }
//            @media (min-width: 576px) and (max-width: 991px) and (orientation: portrait){
////                min-width: 300px;
//                left: 30%;
//                top: 20%;
//                max-height: 70vh;
//            }
//            @media (min-width: 576px) and (max-width: 991px) and (orientation: landscape){
//                top: 16%;
//                padding: 15px;
//                max-height: 75vh;
//            }
//            @media (max-width: 575px) and (orientation: landscape){
//                max-height: 78vh;
//                overflow: scroll;
//                top: 20% !important;
//            }
            @media (max-width: 991px){
//                top: 6%;
                padding: 15px;
            }

        }
    }
}

.screen2{

    @media (min-width: 992px ){
        background-image: url("../imgs/secondScreen/Screen%20image.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-position: 103% center;
    }
    @media (min-width: 992px ) and (max-width: 1200px ){background-size: 440px;}

    .container{
        @media (min-width: 992px ){
            padding-top: 70px;
            padding-bottom: 80px;
        }
        padding-top: 57px;
        padding-bottom: 30px;

        &>div{

            ul{
                list-style: none;

                li {
                    font-size: 25px;

                    &:before{
                        content: '';
                        display: inline-block;
                        background-image: url(../imgs/secondScreen/oneCent.png);
                        @list-marker-side: 16px;
                        width: @list-marker-side;

                        height: @list-marker-side;
                        background-size: cover;
                        margin-right: 10px;
                    }
                }
            }
        }

    }
}

.screen3{
    background-color: #f6f6f6;
    padding-top: 35px;
    padding-bottom: 15px;

    .container{
        ul.nav-tabs{
            li.nav-item{
                text-align: center;

                a{
                    background-color: #e6e4ef;
                    color: #46454b;

                    &.active{
                        background-color: #5e606f;
                        color:#fff;
                    }
                    &:hover:not(.active){
                        background-color: #47a952;
                        color:#fff;
                    }
                }
            }
        }
        .tab-content{
            .tab-pane{
                .media{
                    .media-body{padding-top: 40px;}
                    div{
                        img{width: 100%;}
                    }
                }
            }
        }
    }
}

.screen4{
    .container{
        padding-top: 10px;

        h1{
            @media (max-width: 576px ){
                font-size: 20px;
            }
            media (min-width: 577px ) and (max-width: 992px ){
                font-size: 20px;
            }
//            media (max-width: 576px ){
//                font-size: 20px;
//            }

        }
        table{
            th,td{text-align: center;}
            th:first-child,td:first-child {text-align: left;}
            td:last-child{font-weight: 900;}
        }
    }
}
